[submodule "lib/TPCircularBuffer"]
	path = lib/TPCircularBuffer
	url = https://github.com/michaeltyson/TPCircularBuffer.git
	branch = master
[submodule "lib/libdigibooster3"]
	path = lib/libdigibooster3
	url = https://github.com/grzegorz-kraszewski/libdigibooster3
	branch = master
